<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add New Patient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Using CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>

<div class="container">

    <h1 class="center-align main-title">Add New Patient</h1>
    <br/>

    <form th:object="${newPatient}" th:action="@{/home}" method="post">
        </br>
        <div class="row center-align">
            <div class="col s3 m3"><input type="text" th:field="*{name}" placeholder="Patient Name" required></div>
            <div class="col s6 m6"><input type="text" th:field="*{symptoms}" placeholder="Symptoms (Separate by ',')" required></div>
            <div class="col s2 m3">
                <button type="submit" class="waves-effect waves-light btn-large blue accent-1"> <i
                        class="material-icons">add</i></button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>